@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; /* Adjust padding as needed */
}

/* Existing .container styles */
.container {
  width: 100%;
  max-width: 1170px; /* Or your chosen max-width */
  margin: 0 auto;
  padding: 0 15px;
}

.flex-item-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 80px;
  height: 80px;
}

/* Search Input */
.search-container {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Right Navbar Section */
.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flag-icon {
  width: 35px;
  height: auto;
}

.profile-icon {
  width: 40px;
  height: 40px;
  color: #8a8a8a;
}

/* Main Content */
.main-content {
  flex: 1;
  width: 100%;
}

.trending-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.trending-in-text,
.smakchet-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
}

.trending-in-text {
  color: #000;
}

.smakchet-text {
  color: #ff2020;
}

/* Banner Section */
.banner-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.banner-img {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: 250px;
}

/* Filter Button Section */
.filter-section {
  text-align: center;
  padding: 20px;
}

.filter-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.filter-icon {
  width: 24px;
  height: 24px;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
}

/* Footer */
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: auto; /* This ensures the footer is pushed to the bottom */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links {
  display: flex;
  gap: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: #ffffff;
  color: #24262b;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.event-card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Creates a responsive grid */
  gap: 20px; /* Space between cards */
  margin-top: 50px;
  margin-bottom: 50px;
}

.event-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.image-container {
  position: relative;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.icon-heart {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer; /* If the icon is interactive */
  z-index: 2; /* Ensures the heart is above the image */
}

.event-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title-heart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
}

.icon-heart {
  width: 24px;
  height: 24px;
}

.event-description p {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8a8a8a;
}

.event-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 4px 0;
  color: #a1a1a1;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.event-date {
  color: #207bff;
}

.event-location {
  color: #ff2020;
}

/* You can add more styles or adjust as needed */
